@model DayTide.Models.Product
@{
    Layout = "~/Views/Shared/_Layout_Moderator.cshtml";
}

<script src="~/scripts/jquery/jquery-3.5.1.js"></script>
<link href="~/scripts/css/productImage.css" rel="stylesheet">
<link href="~/scripts/'js/productImage.js" rel="stylesheet">

<div class="container tm-mt-big tm-mb-big">
    <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                <div class="row">
                    <div class="col-12">
                        <h2 class="tm-block-title d-inline-block">Add Product</h2>
                    </div>
                </div>
                <div class="row tm-edit-product-row">
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <form method="post" class="tm-edit-product-form" enctype="multipart/form-data">
                            @Html.AntiForgeryToken()
                            <div class="form-group mb-3">
                                <label for="name">
                                    Product Name
                                </label>
                                <input id="name"
                                       name="ProductName"
                                       type="text"
                                       class="form-control validate" 
                                       value="@Model.ProductName"/>
                                @*@error('productName')
                                    <div style="color:red; text-align:center">{{$message}}</div>
                                    @enderror*@
                            </div>
                            <div class="form-group mb-3">
                                <label for="description">Description</label>
                                <textarea class="form-control validate"
                                          rows="3"
                                          name="Description">@Model.Description</textarea>
                                @*@error('description')
                                    <div style="color:red; text-align:center">{{$message}}</div>
                                    @enderror*@
                            </div>
                            <div class="form-group mb-3">
                                <label for="category">Category</label>
                                <select name="CategoryId" class="custom-select tm-select-accounts">
                                    @foreach (var item in ViewData["categories"] as IList<DayTide.Models.Category>)
                                    {
                                        if (Model.CategoryId == item.CategoryId)
                                        {
                                            <option value="@item.CategoryId" selected>@item.CategoryName</option>
                                            continue;
                                        }
                                        <option value="@item.CategoryId">@item.CategoryName</option>
                                    }
                                </select>
                                @*@error('category')
                                    <div style="color:red; text-align:center">{{$message}}</div>
                                    @enderror*@
                            </div>
                            <div class="row">
                                <div class="form-group mb-3 col-xs-12 col-sm-6">
                                    <label for="Buying_Price">
                                        Buying Price
                                    </label>
                                    <input id="Buying_Price"
                                           name="Buying_Price"
                                           type="text"
                                           class="form-control validate"
                                           data-large-mode="true" 
                                           value="@Model.Buying_Price"/>
                                    @* @error('expDate')
                                        <div style="color:red; text-align:center">{{$message}}</div>
                                        @enderror*@
                                </div>
                                <div class="form-group mb-3 col-xs-12 col-sm-6">
                                    <label for="stock">
                                        Selling Price
                                    </label>
                                    <input id="stock"
                                           name="Selling_Price"
                                           type="text"
                                           class="form-control validate" 
                                           value="@Model.Selling_Price"/>
                                    @*@error('quantity')
                                        <div style="color:red; text-align:center">{{$message}}</div>
                                        @enderror*@
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <label for="name">
                                    Quantity
                                </label>
                                <input id="Quantity"
                                       name="Quantity"
                                       type="text"
                                       class="form-control validate" 
                                       value="@Model.Quantity"/>
                                @*@error('price')
                                    <div style="color:red; text-align:center">{{$message}}</div>
                                    @enderror*@
                            </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                        <img id="myImg" src="~/Content/Products/@Model.Picture" alt="your image" class="thumb">
                        </br>
                        <input type="file" name="Picture" id="img" style="display:none;"/><br />
                         <label for="img" class="btn btn-warning">Change Image</label>
                        @*@error('productImage')
                            <div style="color:red;">{{$message}}</div>
                            @enderror*@
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block text-uppercase">Edit Product Now</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    /* Image Designing Propoerties */
    .thumb {
        height: 200px;
        border: 1px solid #000;
        margin: 10px 5px 0 0;
    }
</style>

<script type="text/javascript">
    /* The uploader form */
    $(function () {
        $(":file").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();

                reader.onload = imageIsLoaded;
                reader.readAsDataURL(this.files[0]);
            }
        });
    });

    function imageIsLoaded(e) {
        $('#myImg').attr('src', e.target.result);
        $('#yourImage').attr('src', e.target.result);
    };

</script>