
@{
    Layout = "~/Views/Shared/_Layout_Moderator.cshtml";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js"></script>
<script>

    var PieChartData =
    {
        labels: ["Workdone%","Work Pending%","Employee Ratio%"],
        datasets: [{
            label: 'User Detail Chart',
            backgroundColor: [
                "#2ECC71",
                "#FF5733",
            ],
            borderWidth: 2,
            data: [@ViewData["pendingRatio"], 100 -@ViewData["pendingRatio"], @ViewData["employeeAvailable"]]
        }]
    };

    window.onload = function () {
        var ctx1 = document.getElementById("Piecanvas").getContext("2d");
        window.myBar = new Chart(ctx1,
            {
                type: 'pie',
                data: PieChartData,
                options:
                {
                    title:
                    {
                        display: true,
                        text: "User Lists"
                    },
                    responsive: true,
                    maintainAspectRatio: true
                }
            });
    }
</script>

<div class="container-fluid">

    @*<button type="button" class="btn btn-danger btn-sm" id="btnpdf">Generate Pdf For Woking Purpose</button>*@
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Manager</h1>
        <div style="float:right; margin-right:10px">
            @using (Html.BeginForm("Export1", "Moderator", FormMethod.Post))
            {
                <input type="hidden" name="GridHtml" />
                <input type="submit" id="btnSubmit" value="Download PDG" class="btn btn-danger" />
            }
        </div>

    </div>

    <div class="row" id="Grid">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Earnings (Total)
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewData["sum"] Taka</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Employee (Total)
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewData["employee"]</div>
                        </div>
                        <div class="col-auto">
                            <i class="far fa-id-badge fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Tasks
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@ViewData["pendingRatio"]%</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar"
                                             style="width: @ViewData["pendingRatio"]%" aria-valuenow="@ViewData["pendingRatio"]" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Pending Requests
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewData["pendingRequest"]</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align: center">
        <canvas id="Piecanvas"></canvas>
    </div>
    <div style="text-align: center">

    </div>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {
            $("input[name='GridHtml']").val($("#Grid").html());
        });
    });
</script>
