@model DayTide.Models.DeleveryMan

@{
    ViewBag.Title = "DetailDelman";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h2>DetailDelman</h2>

<div>
    <h4>DeleveryMan</h4>
    <hr />
    <table>
        <tr>
            <td>
                <img class="img-profile " style="height: 400px; width: 450px; margin-left: 40px "
                     src="~/Content/Users/@Model.Picture">
            </td>
            <td >
                <dl class="dl-horizontal"style="margin-left :40px">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Phone)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Phone)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Address)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Complete_Task)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Complete_Task)
                    </dd>

                </dl>

            </td>
        </tr>
        <tr>
            <td >
                <div style="margin-left:40px;margin-top:20px">
                    <h2>User Rating</h2>
                    @if (ViewBag.Rating == 5)
                    {

                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    }
                    else if (ViewBag.Rating == 4)
                    {
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                    }
                    else if (ViewBag.Rating == 3)
                    {
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    }
                    else if (ViewBag.Rating == 2)
                    {
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star"></span>
                    }
                    else if (ViewBag.Rating == 1)
                    {
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    }
                    else
                    {
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    }

                </div>
               


            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center;padding-top:30px">
                <p>
                    @Html.ActionLink("Block", "Blockdel", new { id = Model.DelManId }, new { @class = "btn btn-primary" }) 
                    @Html.ActionLink("Delete", "Deletedelman", new { id = Model.DelManId }, new { @class = "btn btn-danger" }) 
                    @Html.ActionLink("Update Salary", "updatesalDeletedelman", new { id = Model.DelManId }, new { @class = "btn btn-default", @style = "background-color:green" }) 
                    @Html.ActionLink("Back ", "DeleveryManList", new { @class = "btn btn-lg" })
                </p>

            </td>
        </tr>
        <tr>
            <td>
                <h3>Comments:</h3>
                <div class="row">

                </div>
                @foreach (var x in ViewBag.comments)
                {
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div style="margin-left:40px;margin-top:20px">
                                    <h6>User Rating</h6>
                                    @if (x.Rating == 5)
                                    {

                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                    }
                                    else if (x.Rating == 4)
                                    {
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                    }
                                    else if (x.Rating == 3)
                                    {
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    }
                                    else if (x.Rating == 2)
                                    {
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star "></span>
                                        <span class="fa fa-star "></span>
                                        <span class="fa fa-star"></span>
                                    }
                                    else if (x.Rating == 1)
                                    {
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star "></span>
                                        <span class="fa fa-star "></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    }
                                    else
                                    {
                                        <span class="fa fa-star "></span>
                                        <span class="fa fa-star "></span>
                                        <span class="fa fa-star "></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    }

                                </div>
                                <h4>@x.Comments</h4>
                                <h4 style="color:red;">Comented By:</h4> <h5>@x.CustomerId</h5>
                            </div>
                        </div>
                    </div>
                }
            </td>
        </tr>
    </table>
</div>
<style>
    .checked {
        color: orange;
    }
</style>
