@model IEnumerable<DayTide.Models.Moderator>

@{
    ViewBag.Title = "ModeratorList";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h2>ModeratorList</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        @* <th>
                @Html.DisplayNameFor(model => model.User.Password)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.User.Status == "valid")
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Picture)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.User.Password)
                    </td>*@
            <td>
                @Html.ActionLink("Notify", "Notifymod", new { id = item.ModeratorId }) |
                @Html.ActionLink("Detail", "DetailModerator", new { id = item.ModeratorId }) |

                @*  @Html.ActionLink("Block", "Blockmod", new { id = item.ModeratorId }) |
        @Html.ActionLink("Delete", "Deletemod", new { id = item.ModeratorId })*@
            </td>
            </tr>
        }
    }

</table>
<h2>Blocked ModeratorList</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        @* <th>
                @Html.DisplayNameFor(model => model.User.Password)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.User.Status == "invalid")
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Picture)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.User.Password)
                    </td>*@
                <td>
                    @Html.ActionLink("UnBlock", "UnBlockmod", new { id = item.ModeratorId }) |
                    @Html.ActionLink("Delete", "Deletemod", new { id = item.ModeratorId })
                </td>
            </tr>
        }
    }

</table>