@model DayTide.Models.Notice

@{
    ViewBag.Title = "viewFullMassege";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h2>viewFullMassege</h2>

<div>
    <h4>Notice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Massage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Massage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Send_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Send_by) <b>(@Model.User.Type)</b>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back", "Mynotification")
</p>
